# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.EscapeRoom.iml
# Datasource local storage ignored files
/../../../../../../../../:\Visu\Unity Files\My3D\EscapeRoom\.idea\.idea.EscapeRoom\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
